In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('fifa.csv')

In [ ]:
#total é adiçao de uma coluna, é a soma da aceleracao, agilidade e reaçoes
dados['Total'] = dados['Acceleration'] + dados['Agility'] + dados['Reactions']
dados

In [4]:
#filtrar as colunas que queremos dos dados acima
dados = dados[['Name', 'Total']]
dados.sort_values('Total')

                 Name  Total
17685       Lee Yunoh   71.0
18127      N. Stephan   74.0
18198      J. Livesey   76.0
17868      A. Czaplak   77.0
17807    J. Brendieck   77.0
...               ...    ...
13279    P. Mazzocchi    NaN
13280       Y. Ammour    NaN
13281  Jwa Joon Hyeop    NaN
13282      O. Marrufo    NaN
13283     Han Pengfei    NaN

[18207 rows x 2 columns]

In [7]:
dados.to_csv('dados1.csv')

In [9]:
#para tirar o index da pagina
dados.to_csv('dados1.csv', index=False)

In [12]:
dados.to_excel('dados1.xlsx', index=False)

In [13]:
#mudar delimitador do txt
dados.to_csv('dados1.txt', index=False, sep='\t')